<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user save</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <h1 class="fst-italic my-3">user save</h1>

    <div class="container w-50 mx-auto border-red  ">
        <h1 class="text-center">This is form </h1>

        <form action="/dashboard/user/save" method="post"  enctype="multipart/form-data">
            <!-- <div class="mb-3 d-flex justify-content-center align-items-center">
                <label for="ide" class="mx-4">Id</label>
                <div class="col-sm-10">
                    <input type="number" name="ide" class="form-control w-100" id="ide">
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-center align-items-center">
                <label for="gender" class="mx-4">Gender</label>
                <div class="col-sm-10">
                    <input type="text" name="gender" class="form-control w-100" id="gender">
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-center align-items-center">
                <label for="name" class="mx-4">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control w-100" id="name">
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-center align-items-center">
                <label for="contact" class="mx-4">Contact</label>
                <div class="col-sm-10">
                    <input type="number" name="contact" class="form-control w-100" id="contact">
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-center align-items-center">
                <label for="address" class="mx-4">Address</label>
                <div class="col-sm-10">
                    <input type="text" name="address" class="form-control w-100" id="address">
                </div>
            </div> -->
       
            <div class="mb-3 d-flex justify-content-center align-items-center">
                <label for="file" class="mx-4">PhotoUrl</label>
                <div class="col-sm-10">
                    <input type="file" name="photo" class="form-control w-100" id="PhotoUrl">
                </div>
            </div>
            <input type="text" name="username">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>